body
{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: #000000;
    font-family: sans-serif;
}

#span1{
    position: relative;
    margin: 0;
    font-size: 2.5rem;
}

#span1::after {
    content: "FELIZ";
    color:yellow;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: textAnimation1 linear 3.5s infinite;
    overflow: hidden;
}

#span2{
    position: relative;
    margin: 0;
    font-size: 2.5rem;
}

#span2::after {
    content: "ANO";
    color:#FFFFFF;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: textAnimation2 linear 3.5s infinite;
    overflow: hidden;
}

#span3{
    position: relative;
    margin: 0;
    font-size: 2.5rem;
}

#span3::after {
    content: "NO";
    color: yellow;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: textAnimation3 linear 3.5s infinite;
    overflow: hidden;
}

#span3::before {
    content: "VO";
    color: #FFFFFF;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    animation: textAnimation3 linear 3.5s infinite;
}

@keyframes textAnimation1 {
    0% { 
        width: 0;
    }
    50%,100% { 
        width: 100%;
    } 
  
}

@keyframes textAnimation2 {
    0% { 
        width: 0;
    }
    50%,100% { 
        width: 100%;
    } 
  
}

@keyframes textAnimation3 {
    0% { 
        width: 0;
    }
    50%,100% { 
        width: 50%;
    } 
  
}

.firework
{
    position: absolute;
}

.explosao
{
    position: absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
}
.explosi:nth-child(1)
{
    transform: rotate(0deg)translateY(-15px);
}
.explosao:nth-child(2)
{
    transform: rotate(30deg)translateY(-15px);
}
.explosao:nth-child(3)
{
    transform: rotate(60deg)translateY(-15px);
}
.explosao:nth-child(4)
{
    transform: rotate(90deg)translateY(-15px);
}
.explosao:nth-child(5)
{
    transform: rotate(120deg)translateY(-15px);
}
.explosao:nth-child(6)
{
    transform: rotate(150deg)translateY(-15px);
}
.explosao:nth-child(7)
{
    transform: rotate(180deg)translateY(-15px);
}
.explosao:nth-child(8)
{
    transform: rotate(210deg)translateY(-15px);
}
.explosao:nth-child(9)
{
    transform: rotate(240deg)translateY(-15px);
}
.explosao:nth-child(10)
{
    transform: rotate(270deg)translateY(-15px);
}
.explosao:nth-child(11)
{
    transform: rotate(300deg)translateY(-15px);
}
.explosao:nth-child(12)
{
    transform: rotate(330deg)translateY(-15px);
}

.explosao::before
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
   /* background-color: rgb(238, 238, 101);*/
    background-color: orange;

}

@keyframes explosao
{
    0% 
    {
        top: 100%;
    }

    33%, 100%
    {
        top: -50%;
    }
}

#firework1
{
    left: 50%;
    top: 20%;
    transform: scale(1);
}

#firework1 .explosao::before
{
    animation: explosao 2s ease-in-out infinite;
}
 
#firework2
{
    left: 30%;
    top: 80%;
    transform: scale(.7);
}
#firework2 .explosao::before
{
    background-color:yellow;
    animation: explosao 2s .6s ease-in-out infinite;
}
 
#firework3
{
    left: 10%;
    top:10% ;
    transform: scale(.4);
}
#firework3 .explosao::before
{
    background-color:#00daea;
    animation: explosao 2s .4s ease-in-out infinite;
}

#firework4
{
    left: 80%;
    top:60% ;
    transform: scale(.7);
}
#firework4 .explosao::before
{
    background-color:red;
    animation: explosao 2s .3s ease-in-out infinite;
}

#firework5
{
    left: 15%;
    top:50% ;
    transform: scale(.5);
}
#firework5 .explosao::before
{
    background-color:#37ea00;
    animation: explosao 2s .2s ease-in-out infinite;
}

#firework6
{
    left: 80%;
    top:15% ;
    transform: scale(.5);
}
#firework6 .explosao::before
{
    background-color:#ea00ea;
    animation: explosao 2s .2s ease-in-out infinite;
}

#firework7
{
    left: 60%;
    top:80%;
    transform: scale(.8);
}
#firework7 .explosao::before
{
    background-color:#FFFFFF;
    animation: explosao 2s .1s ease-in-out infinite;
}